body {
	font-family: monospace;
	background-color: #DDD;
}

h2 {
	text-align: center;
}
/* live page */

div#liveContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-row-gap: 20px;
    grid-column-gap: 0;
    width: 100%;
}

a.live_channel {
	background-color: #EEE;
	color: black;
	text-decoration: none;
	display: grid;
    margin: 15px;
    grid-template-rows: 2em auto auto;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "headerline"
        "imagearea"
        "footersection";
	padding: 0px;
	border: 2px outset #aaaaaa;
	box-shadow: 2px 2px 6px #000000;
	border-radius: 10px;
	position: relative;
}
div.description {
    padding-left: 5em;
    font-size: smaller;
}
a.live_channel h3.live_header {
    display: block;
    text-align: center;
	background-color: black;
	color: white;
	grid-area: headerline;
	border-radius: 10px 10px 0 0;
    width: 100%;
    height: calc(2em - 10px);
    margin-top: -10px;
    padding-top: 10px;
}
a.live_channel img.channel_logo {
    filter: drop-shadow(7px 7px 7px black);
	width: 150px;
	height: 150px;
    border-top-left-radius: 10px;
    grid-area: headerline;
    margin-top: -10px;
}
a.live_channel img.live_picture {
    grid-area: imagearea;
    width: 100%;
}
a.live_channel div.live_game {
	text-align: center;
	margin: auto;
    grid-area: footersection;
    width: 100%;
}

header {
    background-color: black;
    color: white;
    padding: 2px 5px;
}
header ul {
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: red;
    margin-left: -5px;
    margin-bottom: -2px;
    margin-right: -5px;
}
header ul:after {
    clear: both;
    content: '';
    display: block;
}
header ul li {
    list-style: none;
    float: left;
    border-right: 2px solid black;
    padding: 2px 5px;
}
header ul li:last-child {
    border-right: none;
}
header ul li a {
    color: white;
    text-decoration: none;
}
div.submenu ul {
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: blue;
    color: white;
}
div.submenu ul:after {
    display: block;
    content: "";
    clear: both;
}
div.submenu ul li {
    color: white;
    float: left;
    border-right: 2px solid black;
    padding: 2px 5px;
}
div.submenu ul li a {
    color: white;
    text-decoration: none;
}
a.voting {
    width: 2em;
    display: block;
}
a.voting.active {
    color: red;
}
a.vote_neutral {
    height: 10px;
    line-height: 10px;
}
table.adviceTable {
    
    padding: 0;
    border-spacing: 0;
    border-collapse: collapse;
}
table.adviceTable tr {
    padding: 0;
    margin: 0;
}
table.adviceTable td {
    border: 1px solid black;
    padding: 5px;
    margin: 0;
}
table.adviceTable th {
    border: 1px solid black;
    border-top: none;
    padding: 5px;
    margin: 0;
}
table.adviceTable th:first-child {
    border-left: none;
}
table.adviceTable th:last-child {
    border-left: none;
    border-right: none;
}
table.adviceTable td.voteButtons {
    text-align: center;
    padding: 0;
}

table.qdbTable {
    width: 100%;
    padding: 0;
    border-spacing: 0;
    border-collapse: collapse;
}
table.qdbTable tr {
    padding: 0;
    margin: 0;
}
table.qdbTable td {
    border: 1px solid black;
    padding: 5px;
    margin: 0;
}
table.qdbTable th {
    border: 1px solid black;
    border-top: none;
    padding: 5px;
    margin: 0;
}
table.qdbTable td:first-child  {
    border-left: none;
    text-align: right;
}
table.qdbTable th:first-child {
    border-left: none;
}
table.qdbTable th:last-child, table.qdbTable td:last-child {
    border-left: none;
    border-right: none;
}

table.qdbTable tr:last-child td {
    border-bottom: none;
}

a.voting:hover {
    background-color: #bbbbbb;
    cursor: pointer;
}
table.adviceTable tr.removed {
    color: #888888;
}