include ./preprocess.jade
doctype html
html
	head
		include ./header.jade
	body
		include ./heading.jade
		p.
			Here's all the advice that's been submitted so far.
		div#advices
		script(
			src='/static/advice.js'
			type='text/javascript'
		)
