-	var head
-	if(!title){
-		title = "The Ghost of leg_bot";
-	}
-	else{
-		title += " - ghost_of_leg_bot";
-	}

head
	meta(charset='utf8')
	link(
		rel='stylesheet'
		href='/static/style.css'
	)
	title!= title
	h1#main_header Ghost_of_Leg_Bot
	a(href='/live') Live
	hr
