doctype html
html
	include ./header.jade
	body
		h1 Welcome!
		p Welcome to the website for ghost_of_leg_bot. There's not much here right now, mainly just the live page, which shows which streams are currently live.
