include ./preprocess.jade
doctype html
html
	head
		include ./header.jade
	body
		include ./heading.jade
		include ./statsSubmenu.jade
		p.
			This is how you can get to a list of statistics, broken down by game, or by channel.